include ../../assets/bemtojade/bemto

mixin promo(title)
	section.promo
		block
		div
			h2=title
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, eaque, repellat! Similique possimus, eos eligendi enim aut est eveniet accusamus dignissimos blanditiis sit. Unde, quas aspernatur nisi laudantium veritatis facilis. ipsum dolor sit amet, consectetur adipisicing elit. Maxime libero consectetur minus odit similique a earum est, rem, autem asperiores nemo recusandae alias praesentium voluptas. Deserunt numquam possimus quia explicabo? ipsum dolor sit amet, consectetur adipisicing elit. Commodi et cum nisi obcaecati quisquam necessitatibus laboriosam, sint totam cumque modi ducimus beatae ratione maxime ut recusandae dolores, est. Quae, dolore! ipsum dolor sit amet, consectetur adipisicing elit. Molestias pariatur placeat dicta voluptatum error dolore, cupiditate non nam officia quam praesentium iusto corporis perspiciatis. Aperiam molestias fuga quasi quaerat optio. ipsum dolor sit amet, consectetur adipisicing elit. Animi reiciendis, aliquam nam eos inventore, consectetur consequuntur culpa similique aspernatur ipsum accusantium doloremque sed dolorem! Quam iste alias, esse ut similique.ipsum dolor sit amet.