include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header.container
  +e.inner
    +b.logo
      +e.A.img(href="index.html")
        img(src="img/logo.png", alt="logo", title="logo")
    +e.box
      +b.city--spb
        +e.name-wrapper
          +e.name Москва
          +e.UL.dropdown
            +e.item(data-email0= "info@mostest.su", data-tel1= "+7 (499) 600-77-60") Москва
            +e.item(data-email0= "16@mostest.ru", data-tel0= "+7 (843) 258-55-24") Казань
            +e.item(data-email0= "31@mostest.ru", data-tel0= "+7 (919) 285-48-38") Белгород
        +e.email-wrapper
          +e.A.email(href="mailto:info@mostest.ru", target="_blank") spb@mostest.su
        +e.tel-wrapper
          +e.A.tel(href="tel:+78129232003", target="_blank") +7 (499) 600-77-60
        +b.UL.socials
          +e.LI.item
            +e.A.link--telegram(href="tel:000000000")
          +e.LI.item
            +e.A.link--viber(href="tel:000000000")
          +e.LI.item
            +e.A.link--whatsup(href="tel:000000000")
          +e.LI.item
            +e.A.link--skype(href="tel:000000000")
      +b.NAV.nav
        +e.hamburger
          +b.A.hamburger(href="#")
            span
        +e.list-wrapper
          +e.UL.list
            +e.item
              +e.link(href="page.html") О нас
            +e.item
              +e.link(href="page.html") Услуги
            +e.item
              +e.link(href="page-glossary.html") Отзывы
            +e.item
              +e.link(href="page-news.html") Новости
            +e.item
              +e.link(href="page-contacts.html") Контакты
            +b.btn--orange
               a(href="#") Узнать стоимость